.card {
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    background-color: white;
  }

  .card .c {
    text-align: center;
  }

  .card-appear {
    animation: card-appear 1s ease-out forwards;
  }

  @keyframes card-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }