.poll-frame {
    min-height: 85vh;
    padding-block: 4rem 8rem;
}

.poll-frame .q-number { font-size: 0.75rem; padding-bottom: 1rem;}

.poll-frame .q-text {
    font-size: 1.2rem;
    padding-bottom: 2.5rem;
}

.poll-frame .option {
    display: block;
    text-align: left;
    width: 100%;
    background-color: white;
    border-color: white;
    color: var(--secondary-color);
}

.poll-frame .option::before {
    content: '★';
    padding-right: 1rem;
}

.poll-frame .btn-secondary { position: absolute; bottom: 2.5rem;}

@media (max-width: 580px) {
    .poll-frame .option {
        padding-inline: 0;
    }
}

@media (pointer: fine) {
    .poll-frame .option:hover {
        background-color: var(--secondary-color);
        color: var(--primary-color);
        border-color: var(--secondary-color);
    }
}