:root {
  --primary-color: #fffb00;
  --secondary-color: #000;
  --highlight-color: #f9ff93;
  --input-border-radius: 3px;
  --font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-size-std: 1rem;
  --btn-i-xs: 2rem;
  --input-padding-h: 0.5rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font-size-std);
  line-height: 1.5;
  background-image: url('https://i.imgur.com/OzMEGul.jpg');
  color: black;
}

@keyframes fade-in {
    0% { opacity: 0; transform: scale(0.9);}
    40% { opacity: 1; transform: scale(1.1);}
    100% { opacity: 1; transform: scale(1);}
}

.btn {
  border: 1px solid var(--primary-color);
  border-radius: var(--input-border-radius);
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 400;
  outline: none;
  height: 2.5REM;
  padding-inline: 1rem;
  margin: 0.5rem 0;
  transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  white-space: nowrap;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-color: var(--secondary-color);
  cursor: pointer;
}

@media (pointer: fine) {
  .btn:hover {
      background-color: var(--secondary-color);
      color: var(--primary-color);
  }
}

.invisible {
  visibility: hidden;
}


