.alert {
    position: fixed !important;
    bottom: 0;
    left: 0;
    width: calc(100% - 2rem);
    margin-inline: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    box-shadow: 1px 0 3px 0 var(--bs-alert-color);
}