.m {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.m-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(231 255 225 / 35%);
    cursor: pointer;
    transition: opacity 1s;
}

.m-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    border: 1px solid var(--primary);
}

.m-message {
    padding: 2rem;
    text-align: center;
}

.m-btns button {
    margin: 0.5rem;
}

.b {
    font-weight: 600;
}

@keyframes modal {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    60% {
        transform: translateY(10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@media (min-width: 768px) {
    .m-content {
        min-width: 400px;
    }
}

.m-trans-enter .m-shadow {
    animation: fadeIn .3s ease-in-out;
}

.m-trans-exit .m-shadow {
    animation: fadeIn .3s ease-in-out reverse forwards;
}

.m-trans-enter .m-content {
    animation: modal .2s ease-in-out;
}
.m-trans-exit .m-content {
    animation: modal .2s ease-in-out reverse forwards;
}

