.card {
    animation: fade-in .5s ease-in-out forwards;
    max-height: 100%;
    width: 100%;
    max-width: 600px;
    background-color: white;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    box-shadow: 2px 2px 7px var(--primary-color);
    overflow: hidden;
    padding-inline: 3rem;
}

@media (max-width: 580px) {
    .card {
        padding-inline: 2rem;
    }
}
