
.side, .main {
    height: 75vh;
    position: relative;
    margin-top: 1rem;
}

.side-content, .main-content {
    overflow: auto;
    height: 100%;
}

.side-content, .main-content { 
    padding-inline: 0.5rem; 
}

@media (max-width: 760px) {
    .side { height: 35vh; position: relative; box-shadow: 0 3px 5px gray inset, 0 -3px 5px gray inset; padding-block: 5px;}
    .main { height: unset;}
}

.input-cont {
    position: relative;
}

.input-cont button {
    position: absolute;
    top: 0;
    right: 0.75rem;
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s, opacity .3s;
}
.input-cont input:focus ~ button {
    visibility: visible;
    opacity: 1;
}

.input-cont input {
    padding-right: 2.5rem; 
}