.card {
    cursor: pointer;
    background-color: transparent;
    transition: background-color .2s ease-in-out;
    color: black;
}
.card:hover {
    background-color: rgba(191, 255, 176, 0.351);
    color: black;
}

.card.active, .card.active:hover {
    background-color: #40e96f17;
    border-color: var(--primary);
    color: var(--primary);
    cursor: default;
}

.card-text {
    font-size: 0.8rem;
    overflow: hidden;
    max-height: 4.5rem;
}

.card img {
    border-radius: 3px;
}

.img-mini {
    max-height: 150px;
}

