h3 {
    margin-block: 1.5rem;
}

.recipe-form .form-control {
    margin: 0.3rem 0;
}

hr {
    border: none;
    height: 1px;
    background-image: linear-gradient(to left, #257d54bb, var(--primary), #257d54bb);
    margin: 1.5rem 0;
}

.label-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.label-row .text-danger { margin: 0 }

label { font-weight: 600;}

.form-control.invalid {
    border-color: red;
}

textarea.form-control.larger {
    min-height: 100px;
}

@media (max-width: 600px) {
    .list-group-item .flex-grow-1 {
        order: 1;
        padding-inline: 0;
    }
}
